!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <title>New Budget</title>
</head>

<body>
    <div class="container">
        <h1>New Budget</h1>
        <form action="/budgets" method="POST"> <br>
            <form action="/budgets" method="POST">
                <input type="text" placeholder="date" name="date"> <br>
                <input type="text" placeholder="name" name="name"> <br>
                <input type="text" placeholder="amount" name="amount"> <br>
                <input type="text" placeholder="from" name="from"> <br>
                <input type="submit" value="Create New Item">
    <!-- This form is going to print to the index -->
            </form>
            <button type="button" value="Back" onclick="history.back(-1)">Back</button>
    </div>
</body>

</html>